*{
    /*reset na margem e padding*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* o tamanho é considerado a partir da borda*/    
}

body{
    background-color: #a61e4d;
}

/* formatação do cabeçalho*/
header{
    height: 100vh;
    display: flex; /*coloca os itens em colunas*/
    justify-content: center;
    align-items: center;   
}

/* formatando o Menu*/
.menu{
    background-color: #faa2c1;
    height: 30px;
    position: fixed; /*fixar o elemento */
    width: 100vw;
    top: 0; /*só funciona com o position declarado*/
    font-size: 25px;
}

/* formatando os links da página*/
.menu a{
    text-decoration: none; /*tirar o underline do link*/
    color: mintcream;
}

/* formatação do menu quando o mouse passa por cima*/
.menu a:hover{
    color: midnightblue;
}

/* colocar um item ao lado do outro no menu*/
.menu ul{
    display: flex; /*faz virar coluna*/
    justify-content: space-around; /*inclui espaço entre os itens */
    /* justify-content só funciona após o display flex*/
    border-left: 2px solid whitesmoke;
}

/* retirar estilo de lista do link no menu*/
.menu li{
    list-style: none;
}

.titulo{
    padding-left: 10px;
    border-left: 2px solid whitesmoke;
}

.site-subtitle,
.site-title{ 
    color: mintcream;
    text-align: right; /*centralizar texto*/
}

.site-subtitle{
    font-style: italic;
    font-size: 1em;
    margin: 0 auto;
}

/*efeito de digitação */
@keyframes{
    from { 
      
}

.img-experiencia{
    height: 180px;
    width: 180px;
}